#
# Application keys can be generated with:
#
#    echo "base64:$(openssl rand -base64 32)"
#
CONTENTAUTHOR_APP_KEY=
HUB_APP_KEY=

# Make this something random and long
CONTENTAUTHOR_LTI_SECRET=

CONTENTAUTHOR_HOST=ca.localhost
HUB_HOST=hub.localhost
